@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.navbar-brand {
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.book_a_table_btn {
  padding: 10px 18px;
  text-decoration: none;
  background-color: rgb(236, 158, 13);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.book_a_table_btn_2 {
  padding: 15px 25px;
  text-decoration: none;
  background-color: rgb(236, 158, 13);
  color: white;
  text-transform: uppercase;
}

#main_header {
  background-image: url(../img/Cover.jpg);
  background-position: center;
  background-size: cover;
}

#navigation-onscroll {
  background-color: rgb(37, 37, 59);
}

.container-fluid a {
  color: white;
}

.nav-item a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-item a:hover {
  color: rgb(236, 158, 13);
  text-transform: uppercase;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#main_header .column p {
  color: white;
}

.para p {
  text-align: justify;
}

.enjoy .header {
  font-size: 75px;
  line-height: 75px;
  font-weight: 500;
}

.img-pizza {
  display: flex;
  height: 80%;
  width: 80%;
  animation: rotation 50s infinite linear;
  justify-content: center;
  align-items: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Services Section CSS */
.service_card {
  display: flex;
  background-color: white;
  height: 250px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}

.service_card:hover .service-icon i {
  background-color: rgb(236, 158, 13);
  color: white;
  transition: 0.5s;
}

.service_card:hover {
  background-color: rgb(236, 158, 13);
  color: white;
}

.service-icon i {
  display: flex;
  align-self: start;
  justify-content: left;
  padding: 25px 0 0 25px;
  color: rgb(236, 158, 13);
}

.service_head p {
  padding: 15px 0 0 25px;
  font-weight: 500;
  font-size: larger;
}

.service_para p {
  padding: 5px 25px 0 25px;
  text-align: justify;
}

#card_images2 {
  display: flex;
  align-self: end;
}

#card_images3 {
  display: flex;
  justify-content: right;
}

.about_us p {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  color: orange;
  font-weight: 500;
}

.welcome p {
  font-size: 35px;
  font-weight: 500;
}

.about_resturent {
  line-height: 25px;
}

#years {
  display: flex;
}

#years .numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 49px;
  font-weight: 500;
  padding-left: 25px;
  border-left: 5px solid orange;
  color: orange;
}

.read-more {
  background-color: orange;
  position: relative;
  display: inline-block;
  padding: 15px 35px;
}

.read-more a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.wrap-menu {
  line-height: 25px;
}

.food_menu p {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  color: orange;
  font-weight: 800;
}

.most-popular p {
  font-size: 35px;
  font-weight: 500;
}

.modal-dialog {
  background-color: transparent !important;
}

#menu_icon {
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid orange;
}

#menu_icon i {
  color: orange;
}

.menu_name {
  padding-left: 18px;
  line-height: 5px;
}

#menu_icon:hover {
  border-bottom: 3px solid orange;
}

.menu_image {
  display: flex;
  align-items: center;
}

.menu_image image {
  object-fit: cover;
  display: flex;
  align-items: center;
}
.menu-item-name {
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu-item-price {
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu-item-price p {
  font-size: larger;
  letter-spacing: 3px;
  font-weight: 600;
  color: orange;
}

.menu-item-add {
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu-item-add i {
  color: rgb(246, 246, 246);
  background-color: orange;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-item-price p::before {
  content: "LKR";
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#btn-back-to-top i {
  color: white;
}

#book_table {
  background-image: url(../img/date_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 550px;
  border-bottom-left-radius: 55px;
  border-top-left-radius: 55px;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.play i {
  background-color: orange;
  padding: 30px 33px;
  color: white;
  border-radius: 50%;
}

.play i:hover {
  background-color: rgb(255, 255, 255);
  padding: 30px 33px;
  color: rgb(255, 123, 0);
  border-radius: 50%;
  transition: 0.5s;
}

#book_table_form {
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
}

.serve_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serve_btn .button {
  background-color: orange;
  padding: 15px;
  border: 0;
  color: white;
  font-weight: 350;
}

.testo-card {
  height: 100%;
}

.name,
.profession {
  display: flex;
  align-items: center;
}

.name {
  font-size: small;
}

.profession {
  font-style: italic;
  font-size: smaller;
}
